<h1>Quizify</h1>



<form id="quiz-form">
  <div class="button-container">
    <button type="submit">Add Question</button>
  </div>
  <div class="button-container">
    <button type="submit">Add Question</button>
  </div>
  <div class="button-container">
    <button type="submit">Add Question</button>
  </div>
  <div class="button-container">
    <button type="submit">Add Question</button>
  </div>
</form>


  <!-- Display the quiz questions and options here -->
  <div id="quiz-questions">
    <!-- Questions will be dynamically generated here -->
  </div>

 {{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>