
<!DOCTYPE html>
<html>
<head>
  <title class="purplefont">Quizify</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .buttons-container {
      text-align: center;
    }

    .buttons-container button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: mediumpurple;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <div class="buttons-container">
    <h1 class="purplefont">Welcome!</h1>
    <button onclick="makeQuiz()">Make a Quiz</button>
    <button onclick="takeQuiz()">Take a Quiz</button>
  </div>

  <script>
    function makeQuiz() {

    document.location.href = '/quiz-maker'
      console.log("Make a Quiz button clicked");
    }

    function takeQuiz() {
      document.location.href = '/quiz-list'

      console.log("Take a Quiz button clicked");
    }
  </script>
</body>
</html>
