body {
  background-color: lightblue;
  background-image: url(../assets/question-mark.png);
  background-repeat: repeat;
  background-size: 900px 1100px;
  margin: 2px 0px 10px 0px;
}

body div header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0.67em 0;
  }

.bluefont {
  color:lightblue;
}

.purplefont {
  color: rgba(197, 3, 197, 0.705);
  font-weight: bolder;
}


